<text> <font> show invoice page </font> </text>

<p> Name : <%=@name%> </p>
<p> Email Id : <%=@email_id%> </p>
<p> Addr Line1 : <%=@addr_line1%> </p>
<p> Addr Line2 : <%=@addr_line2%> </p>
<p> City : <%=@city%> </p>
<p> State : <%=@state%> </p>
<p> Phone : <%=@phone%> </p>
