<html>
<head> <%= stylesheet_link_tag "Styles" %>	</head>
<body>
<div id="container">
	<div id="header"> <text> <h3> NEWiNVO </h3> </text> </div>
	<div id="menubar"> <text> <ul> <li> &nbsp </li> </ul> </text> </div>
	
	<div id="login"> <%= yield -%> </div>
		
	<div id="welcome"> 
		<text>
			<h3> 
				The Road to Enlightenment 
			</h3>

			<font> 
				Littering a dark and dreary road lay the past relics of browser-specific tags, 
				incompatible DOMs, and broken CSS support.

		    	Today, we must clear the mind of past practices. Web enlightenment has been achieved 
		    	thanks to the tireless efforts of folk like the W3C, WaSP and the major browser creators.
				
		    	The css Zen Garden invites you to relax and meditate on the important lessons of the 
		    	masters. Begin to see with clarity. Learn to use the (yet to be) time-honored techniques 
		    	in new and invigorating fashion. Become one with the web.
	
		    	There is clearly a need for CSS to be taken seriously by graphic artists. The Zen Garden 
		    	aims to excite, inspire, and encourage participation. To begin, view some of the existing 
		    	designs in the list. Clicking on any one will load the style sheet into this very page. 
		    	The code remains the same, the only thing that has changed is the external .css file. Yes, 
		    	really.

			</font>
		</text>		
	</div>	
		
	<div id="footer">
		<text>
			<ul>
				<li> <a href="#"> <font> about us </font> </a> </li>
				<li> <a href="#"> <font> contact us </font> </a> </li>
			</ul>
		</text>	
	</div>
</div>

</body>
</html>